.connect_with_stripe_button{
    background-image: linear-gradient(#28A0E5, #015E94);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-width: 0;
}


.connect_with_stripe_button_logo{

}