.sign_up{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

.amazon_logo{
    width: 250px;
    cursor: pointer;
    object-fit: contain;
}

.signup_form{
    display: flex;
    flex-direction: column;
    max-width: 27%;
    border-radius: 4px;
    padding: 30px 20px;
}

.signup_form_heading{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.04px;
    margin-bottom: 30px;
    margin-right: -5px;
}

.signup_input{
    border: 1px solid lightgray;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 5px 13px;
    outline-width: 0;
    margin-bottom: 30px;
}

.signup_input::placeholder{
    color: lightgray;
}

.signup_submit_button{
    margin: 30px 0;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    background-color: #FF9900;
    border: none;
    color: black;
    padding: 7px 10px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_submit_button:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}

.signup_terms{
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #111111;
}

.signup_form_already{
    margin: 30px 0 0;
}

.signup_already_p{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.amazon_link_tm{
    color: #0066c0 !important;
    margin-left: 5px;
}

.amazon_link_tm:hover{
    color: #C45500 !important;
    text-decoration: underline #C45500 !important;
}

.signup_gradient{
    height: 44px;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
}

.signup_gradient::after{
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    z-index: 1;
    content: "";
}

.error{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.spinner{
    width: 50px;
    height: 30px;
    object-fit: contain;
    margin: auto;
}

.code_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.code_error{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px !important;
}

.resend_code{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #F79B34;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.resend_code:hover{
    text-decoration: underline #F79B34;
}