.login{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

.amazon_logo{
    max-height: 250px;
    cursor: pointer;
    margin: 20px 0;
}

.login_form{
    display: flex;
    flex-direction: column;
    max-width: 27%;
    border-radius: 4px;
    padding: 30px 20px;
}

.login_form_heading{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.04px;
    margin-bottom: 30px;
}

.login_input{
    border: 1px solid lightgray;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 5px 13px;
    outline-width: 0;
    margin-bottom: 30px;
}

.login_input::placeholder{
    color: lightgray;
}

.login_submit_button{
    margin: 30px 0;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    background-color: #FF9900;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_submit_button:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}

.login_terms{
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #111111;
    max-width: 300px;
}

.divider{
    position: relative;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    margin-top: 30px;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider_title{
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
    width: fit-content;
}

.divider::after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.signup_button{
    padding: 5px 10px;
    width: 32%;
    color: #111111;
    margin: 25px auto;
    cursor: pointer;
}

.need_help{
    margin: 20px 0 auto;
}

.amazon_link{
    font-size: 12px;
    color: #007185;
}

.amazon_link:hover{
    color: #F79B34;
    text-decoration: underline #F79B34;
}

.error{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.spinner{
    width: 50px;
    height: 30px;
    object-fit: contain;
    margin: auto;
}