.header_search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 6px;
    margin: auto 20px;
}

.header_search:focus{
    border: 1px solid #F79B34;
}

.header_input_search{
    height: 40px;
    padding: 5px;
    font-size: 16px;
    outline-width: 0;
    border: none;
    flex: 1;
}

.header_search_logo{
    background-color: #F3A847;
    border: none !important;
    outline-width: 0;
    height: 40px !important;
    padding: 3px;
    width: 50px !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    font-weight: 400 !important;
}

.header_search_logo:hover{
    background-color: #F79B34;
}

.header_search_select{
    background-color: #DADADA !important;
    color: black !important;
    width: 70px;
    height: 41px;
    padding-left: 10px;
    border-bottom: none !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid lightgray;
    font-size: 14px !important;
    font-family: 'Ubuntu', sans-serif !important;
    top: 0.75px;
}

@media only screen and (max-width: 450px ) {
    .header_search{
        margin-top: 20px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .header_search_logo{
        width: 40px !important;
        height: 40px !important;
        padding: 5px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        position: relative;
        left: -8px;
    }

    .header_search_select{
        display: none !important;
    }

    .header_input_search{
        height: 40px;
        padding: 10px !important;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        font-family: 'Ubuntu', sans-serif !important;
    }
}

.header_search_container{
    flex: 0.60;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hits{
    z-index: 9999999;
    align-self: flex-start;
    justify-self: flex-start;
    top: 38px;
    border: 1px solid lightgray;
    border-radius: 2px;
    flex: 1;
    position: absolute;
    background-color: #ffffff;
    width: 98%;
}

.hit{
    cursor: pointer;
    padding: 5px 20px;
}

.hitSelect{
    cursor: pointer;
    padding: 5px 20px;
    background-color: #e7e9ec;
}

.hit:hover{
    background-color: #e7e9ec;
}

.input_container{
    display: flex;
    flex: 1;
    height: 40px;
}

.auto_container{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 40px;
    position: relative;
}