.create_images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 40px;
}

.amazon_logo{
    width: 400px;
    margin: 40px auto;
    object-fit: contain;
}

.create_images_form{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    width: 45%;
    margin: auto;
    border-radius: 4px;
    padding: 30px 20px;
}

.create_images_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.images_div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.images_div_desc{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.images_many_div{
    margin-top: 20px !important;
}

.images_list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px 0;
    align-items: center;
    margin-bottom: 40px;
}

.step_buttons_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.step_button{
    display: flex;
    width: 30%;
    align-self: flex-end;
    justify-content: center;
    background-color: white;
    outline-width: 0;
    border: 1px solid #111111;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    padding: 8px;
    align-items: center;
}

.step_button:hover{
    background-color: #E0E0E0;
}

.step_button_arrow{
    margin-left: 10px;
    font-weight: 800;
    font-size: 23px;
    position: relative;
    margin-right: 10px;
}

.error{
    font-family: 'Ubuntu', sans-serif;
    color: red;
    font-size: 16px !important;
}