.dashboard_create_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.main_img{
    max-width: 250px;
    object-fit: contain;
    margin-top: 40px;
}

.main_form{
    min-height: 10px;
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 3px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    min-width: 30%;
}

.form_heading{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.input_div{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 10px !important;
}

.form_input_label{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px !important;
}

.form_input{
    outline-width: 0;
    border: 1px solid lightgray;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 10px;
    color: #000000;
}

.input_words{
    text-align: right;
}

.feature_input{
    outline-width: 0;
    border: none;
    border-bottom: 1px solid lightgray;
    max-width: 60%;
    padding: 5px;
}

.add_feature{
    width: 30px;
    height: 30px;
    outline-width: 0;
    border-radius: 100%;
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: #FCAF17;
    font-size: 25px;
}

.add_feature:hover{
    background-color: #F3A847;
}

.add_feature_plus{
    position: relative;
    top: -2px;
}