.password_reset{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

.amazon_logo{
    max-width: 250px;
    cursor: pointer;
}

.password_reset_form{
    display: flex;
    flex-direction: column;
    max-width: 32%;
    border-radius: 4px;
    padding: 30px 20px;
}

.password_reset_form_heading{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.04px;
    margin-bottom: 30px;
    color: #111111;
}

.password_reset_label{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.password_reset_input{
    border: 1px solid lightgray;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 5px 13px;
    outline-width: 0;
    margin-bottom: 30px;
}

.password_reset_instructions{
    margin: 10px 0;
    max-width: 350px;
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.password_reset_submit_button{
    margin: 30px 0;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    background-color: #FF9900;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password_reset_submit_button:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}

.message{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.spinner{
    width: 30px;
    height: 30px;
}

.code_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.code_error{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px !important;
}

.resend_code{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #F79B34;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.resend_code:hover{
    text-decoration: underline #F79B34;
}