.password_reset{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 20px;
}

.amazon_logo{
    max-width: 200px;
}

.password_reset_form{
    display: flex;
    flex-direction: column;
    max-width: 32%;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 30px 20px;
}

.password_reset_form_heading{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.04px;
    margin-bottom: 30px;
    color: #111111;
}

.password_reset_input_div{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.password_reset_label{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 5px;
}

.password_reset_input{
    outline-width: 0;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding: 8px;
}

.password_reset_instructions{
    margin: 10px 0;
    max-width: 350px;
    color: #111111;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.password_reset_submit_button{
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    outline-width: 0;
    padding: 7px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    width: 99%;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.spinner{
    max-width: 100px;
}