.products{
    display: flex;
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.ad{
    width: 15%;
    background: url("https://images.all-free-download.com/images/graphicthumb/wood_background_hd_picture_4_169843.jpg");
    background-size: cover;
}

.product_list{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.lottie{
    margin: 20px auto;
}

.lottie_spinner{
    width: 150px;
}

.message{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}


.nothing{
    display: flex;
    position: absolute;
    z-index: 100;
    background-color: white;
    height: 100%;
    width: 100%;
}

.nothing_text{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    width: 100%;
    margin-top: 30px;
}