.order{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 20px auto 30px;
    position: relative;
    border-radius: 6px;
    width: 80%;
    padding: 10px 30px;
}

.info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.status{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.total{
    font-family: 'Inter', sans-serif;
    font-size: 18px ;
    font-weight: 400;
}

.date{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}