.header{
    background: #131921 !important;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 10px;
}

.header_logo{
    display: flex;
    align-items: center;
}

.header_logo_menu{
    color: white !important;
    margin: 0 20px 0 0;
    cursor: pointer !important;
}


.header_img_logo{
    max-width: 100px;
    object-fit: contain;
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .header_img_logo{
        width: 85px !important;
        top: 5px;
    }

    .header_logo_menu{
        font-size: 22px;
    }

    .header{
        flex-direction: column;
        padding: 15px 0;
        background-color: #232F3E !important;
    }

    .header_logo{
        padding: 0 15px 15px;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
    }
}

.header_logo_left{
    display: flex;
    align-items: flex-start;
}
