.amazon_row_product_image{
    object-fit: contain;
    max-width: 300px;
    max-height: 200px;
    margin: 20px 10px;
}

.amazon_row_product{
    height: fit-content;
    object-fit: contain;
    margin: auto 20px;
}