.amazon_card_row{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100% !important;
}

@media only screen and (max-width: 450px) {
    .amazon_card_row{
        flex-wrap: wrap;
    }
}