.seller_main{
    width: 98%;
    margin: auto;
}

.seller_main_first_row{
    display: flex;
}

.seller_main_first_left{
    flex: 0.85;
    padding: 0 80px;
    z-index: 200;
}

.seller_main_first_right{
    padding-top: 80px;
    z-index: 200;
}

.seller_main_first_title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #232F3E;
    margin-top: 100px;
}

.seller_main_first_img{
    max-width: 450px;
    position: relative;
    top: 10px;
}

.wave_svg{
    width: 100%;
    transform: rotateY(180deg);
    z-index: -299;
    margin-top: -500px;
}

.seller_main_first_desc{
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 450px;
    line-height: 1.25;
    margin: 20px 8px 0;
}

.sign_up_button{
    color: #232F3E;
    background: #F90;
    border: 1px solid #f90;
    border-radius: 50px;
    padding: 12px 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    outline-width: 0;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    margin: 30px 0 0;
}

.sign_up_button:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}

.seller_fees{
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: grey;
    margin: 10px 5px;
}

.seller_main_second{
    margin: -5px 0 0;
    display: flex;
    background: linear-gradient(180deg, #ebf8fa, #ffffff);
    justify-content: space-between;
    padding: 50px 100px;
}

.seller_main_feature_card{
    flex: 0.45;
    margin: 0 15px;
    border: 1px solid #b2e5f6;
    background-color: #ffffff;
    padding: 25px 40px;
    border-radius: 8px;
    transition: transform 150ms cubic-bezier(.64,.15,.53,.53) 300ms;
}

.seller_main_feature_card:hover{
    transform: scale(1.03);
}

.feature_card_image{
    width: 64px;
}

.feature_card_title{
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #232f3e;
    margin: 15px 0 0;
}

.feature_card_desc{
    color: gray;
    margin-top: 15px;
    line-height: 1.5;
    width: 95%;
}

.seller_main_special_link{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    display: block;
    color: #232f3e;
    font-weight: 700;
    margin: 20px 0;
}

.seller_main_special_link::after{
    content: "";
    background: rgba(0,0,0,0) url(https://m.media-amazon.com/images/G/01/sell/navigation/spritesheet-icons._TTH_.svg) no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-left: 10px;
    background-position: 2px 3px;
    transition: transform .2s cubic-bezier(.64,.15,.53,.53),-webkit-transform .2s cubic-bezier(.64,.15,.53,.53);
}

.seller_main_special_link:hover::after{
    background-position: -17px 3px;
    transform: translate(4px,-4px);
}

.seller_main_third{
    padding: 80px 0;
}

.seller_main_third_row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.third_main_image{
    max-width: 400px;
    object-fit: contain;
    margin-right: 50px;
}

.third_right_heading{
    max-width: 400px;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
}

.name_author{
    margin-top: 20px;
    display: flex;
}

.name_author_image{
    max-width: 68px;
}

.name_author_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.name_author_name{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

.name_author_desc{
    font-family: 'Ubuntu', sans-serif;
    color: grey;
}

.seller_main_third_links{
    width: 80%;
    margin: 90px auto;
    background: #FAFAFA;
    border-radius: 8px;
    padding: 20px 30px;
}

.seller_main_links_third{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.seller_links_title{
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 12px 0;
}

.seller_third_individual{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

.seller_main_special_link_inline{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    display: inline-block;
    color: #232f3e;
    font-weight: 700;
    margin: 20px 10px;
}

.seller_main_special_link_inline::after{
    content: "";
    background: rgba(0,0,0,0) url(https://m.media-amazon.com/images/G/01/sell/navigation/spritesheet-icons._TTH_.svg) no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-left: 10px;
    background-position: 2px 3px;
    transition: transform .2s cubic-bezier(.64,.15,.53,.53),-webkit-transform .2s cubic-bezier(.64,.15,.53,.53);
}

.seller_main_special_link_inline:hover::after{
    background-position: -17px 3px;
    transform: translate(4px,-4px);
}